<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Newsreel: your main source of information!</title>
  <link rel="stylesheet" href="{{ static_url('normalize.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url('style.css') }}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="main-header">
    <div class="wrap">
      <h1 class="main-header__title">
        {{ title }}
      </h1>
      <form class="search-form" action="/" method="post">
        <input class="search-form__input" type="search" name="search" placeholder="Enter search query">
        <input class="button button--search" type="submit" value="Search">
        {% raw xsrf_form_html() %}
      </form>
    </div>
  </header>
  <main class="news">
      {{ error }}
    <div class="wrap">
      <a class="button button-new--add" href="/new">Add article</a> {% for item in items %}
      <article class="posts">
        <img class="posts__image" src="{{ item['image'] }}" alt="img">
        <h1 class="posts__title">
          {{ item['title'] }}
        </h1>
        <div class="row">
          <div class="posts__author">{{ item['author'] }}</div>
          <div class="posts__date">{{ item['date'] }}</div>
        </div>
        <p class="posts__text">{{ item['summary'] }}</p>
        <a class="button button--more" href="/post/{{ item['slug'] }}">More</a>
      </article>
      {% end %}
    </div>
        <a class="button button--news" href="/more=">Load more</a>
  </main>
</body>

</html>
